@import "../node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 250ms linear;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

button {
  cursor: pointer;
  padding: 0;
}

.container {
  display: flex;
  gap: 8px;
  max-width: 960px;
  margin: 0 auto;
}

.sidebar {
  box-shadow: 0px 10px 60px 0px #e2ecf980;
  padding: 36px 28px 76px 28px;
}

.users-table__item {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 44px 20px 38px;
  display: flex;
  align-items: center;
}

.logo__text {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 1%;

  color: #000000;
}

.logo__span {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: left;

  color: #838383;
}

.pages__options {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #9197b3;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
}

.pages__options--active {
  color: #ffffff;
  background-color: #5932ea;
}

.user__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

.user__position {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.user__photo {
  width: 42px;
  height: 42px;
}

.hello__message {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 51px;
}

.table {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 10px 60px 0px #e2ecf980;
}

.table__form {
  padding: 30px 54px 40px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__name {
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #000000;
}

.table__active {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #16c098;
}

.status__wrapper {
  width: 84px;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.status__wrapper--active {
  background-color: #16c09861;
  border: 1px solid #00b087;
}

.status__wrapper--inactive {
  background-color: #ffc5c5;
  border: 1px solid #df0404;
}

.status__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: center;
}

.status__text--active {
  color: #008767;
}

.status__text--inactive {
  color: #df0404;
}

.shown-results {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #b5b7c0;
}

.pagination__list {
  display: flex;
  gap: 12px;
}

.pagination__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: #404b52;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  width: 26px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item:nth-child(6) {
  background-color: transparent;
  border-color: transparent;
}

.pagination__item--active {
  color: #ffffff;
  background-color: #5932ea;
  border: 1px solid #5932ea;
}

.input__wrapper {
  background-color: #f9fbff;
  padding: 10px;
  border-radius: 10px 8px;
  width: 218px;
}

.input {
  border: none;
  background-color: inherit;
  outline: none;
}

.table__header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #b5b7c0;
}

.table__header-wrapper {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding: 0 67px 14px 38px;
}

.main {
  padding: 41px 95px 41px 71px;
}

.users-table__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #292d32;
}

.table__item--width:nth-child(1) {
  width: 118px;
  margin-right: 54px;
}

.table__item--width:nth-child(2) {
  width: 70px;
  margin-right: 61px;
}

.table__item--width:nth-child(3) {
  width: 109px;
  margin-right: 47px;
}

.table__item--width:nth-child(4) {
  width: 169px;
  margin-right: 38px;
}

.table__item--width:nth-child(5) {
  width: 94px;
  margin-right: 46px;
}

.pagination__wrapper {
  padding: 30px 40px 40px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
